.title {
  margin-bottom: 20px;
  color: #333333;
  font-size: 30px;
  font-weight: 700; 
}

.title-h1 {
  margin-bottom: 20px;
  color: blue;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center
}